@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');

body{
    background-color: #333;
    color: greenyellow;
    line-height: 1.5;

    width: 70%;

    padding: 2rem;
    margin: 2rem;
}

a{
    color: aliceblue;
}

a:visited{
    color: lightgray;
}

a:hover, a:active{
    color: orange;
}

#info {
    font-style: italic;
    color: orange;
}

.study{
    color: yellow;
}

.container {
    font-size: 1.5rem;
    border: 2.5px red dashed;
    border-top: 5px solid;
}

p .highlight{
    text-transform: uppercase;
    background-color: plum;
    color: blue;
}

button {
    padding: 1rem;
    
}

.circle{
    margin: 2rem auto;
    background-color: gold;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 50px;
    outline: 2px solid red;
}

ol {
    list-style-type: decimal;
    list-style-position: outside;
    line-height: 1.5;
}

ul {
    list-style-type: square;
}

::marker {
    color: lightgray;
}