@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');

.cal-sans-regular {
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

*{
    font-family: "Cal Sans";
}
  
header{
    text-align: center;
}
body{
    text-align: center;
    background-color: #333;
    color: greenyellow;
    font-size: 1.5rem;
    line-height: normal;
    padding: 5%;
    width: 60%;
}


input, button{
    font: inherit;
    width: 200px;
    height: 100px;
}

button {
    border-radius: 10px;
}

p {
    line-height: 1.5;
}

a{
    color: aliceblue;
    text-decoration: none;
    cursor: pointer;
}

a:hover, a:active{
    color: orange;
}

ul {    
    list-style: none;
    list-style-position: center;
    margin-right: 10px;
    display: inline-block;
}

li {
    float: left;
    padding: 16px;
}



