body{
    background-color: #333;
    color: greenyellow;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: normal;
}

main {
    border: 5px rgb(255, 0, 0) dashed;
}

a{
    color: aliceblue;
}

a:visited{
    color: lightgray;
}

a:hover, a:active{
    color: orange;
}

#info {
    font-style: italic;
    color: orange;
}

.study{
    color: yellow;
}

h1, h2, h3{
    color: blueviolet;
    width: 50%;
    font-size: 2rem;
    padding: 0.5rem;
    border: 2px dashed red;
}


p .highlight{
    text-transform: uppercase;
    background-color: plum;
    color: blue;
}

button {
    padding: 1rem;
    
}