 html{
    font-size: 32px;
}

body{
    background-color: #333;
    color: greenyellow;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: normal;
}

main {
    border: 5px rgb(255, 0, 0) dashed;
}

a{
    color: aliceblue;
}

a:visited{
    color: lightgray;
}

a:hover, a:active{
    color: orange;
}

#info {
    font-style: italic;
    color: orange;
}

.study{
    color: yellow;
}

h1, h2, h3{
    color: blueviolet;
}

p .highlight{
    text-transform: uppercase;
    background-color: plum;
    color: blue;
}